/* ----- Google Fonts import ----- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');


/* ----- Font ----- */
* {
    font-family: 'Lato', sans-serif;
}

/* ----- Color palette ----- 
Primary Colour: #0f4c75 (Dark blue/navy)
Secondary Colour: #af8346 (Gold)
Grey: #e8e8e8
White: #ffffff
Black: #212529
*/

/* --- Header Colors --- */
.navbar-light .navbar-nav .nav-link {
    color: #212529;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #0f4c75;
}

/* --- Navigation bar Colors --- */
.modal-content {
    background-color: #e8e8e8; 
}

.modal-header {
    border-bottom: 1px solid #0f4c75;
}

.modal-body h5,h6 {
    color: #212529;
}

.modal-header h5 {
    color: #0f4c75;
}

.modal-footer {
    border-top: 1px solid #0f4c75;
}

#book-table-text {
    color: #212529;
}

/* --- Four images and text Colors --- */
.common_btn {
    display: inline-block;
    font-weight: 400;
    background: #af8346;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.common_btn:hover{
    background: #af8346;
    color: #ffffff;
}

single-image-and-text {
  box-shadow: 15px 15px #e8e8e8;
}

.image-text {
    background-color: #0f4c75;
}

.image-text h4,p {
    color: #f9f7f7;
}

/* -- Hero Image Colors-- */
#hero-message {
   background-color: rgba(232, 232, 232, 0.3);
}

#hero-message  h3,p {
    color: #ffffff;
 }

 #hero-message small {
    color: #ffffff;
}

/* --- Footer Colors --- */
#info-copyright-text p,h5,h6,i {
    color: #ffffff;
}

.contact-form button{
    color: #ffffff;
}

.social-icon {
    color: #e8e8e8;
    background: #af8346; 
}

.social-icon:hover{
    background: #0f4c75;
}

.ruler {
    background: #e8e8e8;
}

.opening-hours h6 {
    color: #ffffff;
}

/* --- Menu colors --- */
#menu h4 {
    color: #0f4c75;
}

#menu {
    background-color: #e8e8e8;
}    

#food-image-carousel {
    background-color: #e8e8e8;
}

#menu-and-carousel {
    background-color: #e8e8e8; 
}

/* --- About Us Colors --- */
.about-us-and-team {
    background-color: #e8e8e8;
}

#about-us h3 {
    color: #0f4c75;
}

#the-team h5{
    color: #0f4c75;   
}

.team-member p{
    color: #212529;
}

#about-us-and-team p{
    color: #212529;   
}

.meet-the-team h3{
    color: #0f4c75;   
}

/* --- Awards Colors --- */
#awards {
    background-color: #e8e8e8;
}

#awards p {
    color: #212529;     
}   

#awards h3, h4{
    color: #0f4c75;     
}    

#awards iframe {
    border: 2px solid #0f4c75;
}

/* ----- End of Color palette ----- */


/* ----- Navigation bar ----- */

.nav-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

 .navbar-brand {
     max-width: 20%;
     margin-left: 50px;
}

 .navbar-brand img {
     width: 100%; 
}

 .navbar-nav li a {
     float: right;
     font-weight: 600;
}

 .navbar-nav li a:hover {
     text-decoration: underline;
}

/* ----- Hero image and text ----- */
#hero-image {
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.jpg");
}

#hero-message {
   margin-top: 50px;
   width: 100%;
   height: 450px;
   max-width: 800px;
   margin: 50px auto;
   text-align: center;
}

#hero-message  h3,p {
    margin-bottom: 25px;
 }

 #hero-message small {
    font-size: 80%;
    font-style: italic;
}

/* ----- Four images ----- */
.four-images-and-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

#dinner-image {
    height: 250px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    background-size:cover;
}

#kitchen-image {
    height: 250px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    background-size:cover;
}

#menu-image {
    height: 250px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    background-size:cover;
}

#table-image {
    height: 250px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    background-size:cover;
}

.full-image {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.single-image-and-text {
    width: 100%;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 250px;
  }
  
.image-text {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      border-radius: 0 0 4px 4px;
  }
  
/* ----- Footer ----- */
#site-footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/footer-image.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#info-copyright-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-icons{
    text-align: right;
}

#opening-hours{
    padding-bottom: 20px;  
}

/* ----- Menu ----- */
#menu-and-carousel {
    margin-right: auto;
    margin-left: auto;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px; 
    border-radius: 4px;
}

.menu-description {
    max-width: 400px;
    min-width: 100px;
}

.menu-allergy {
    min-width: 150px;
}

#food-image-carousel {
    padding-bottom: 30px;
    position: relative;
    border-radius: 0px 0px 4px 4px;
}

.carousel-item {
    max-height: 700px;
}

.carousel-item .img-fluid {
    width:100%;
    height:100%;
}

.social-icons a i{
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
}

/* ----- About Us ----- */
#about-us-and-team {
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

#about-us {
    margin-bottom: 10px; 
}

#the-team {
    margin: 0 auto;
}

.team-member img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* --- Awards --- */
#awards {
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

#awards iframe {
    border-radius: 4px;
    height: 350px;
    max-width: 350px;
}

/* --- Google Map --- */

#map a img {
    border-radius: 4px;
    width: 90%;
}

/* ----- Media Queries ----- */
/* --- Extra Large Screen --- */
 @media screen and (max-width: 1201px) {

 }   

/* --- Large Screen --- */
 @media screen and (max-width: 1024px) {
    .navbar-brand {
        max-width: 30%;
        margin-left: 0px;
    }
 }

/* --- Medium Screen --- */
@media screen and (max-width: 768px) {

    /* ----- Navigation bar ----- */
    .navbar-brand {
        max-width: 40%;
        margin-left: 0px;
    }

    /* ----- Youtube video ----- */
    #youtube-video {
         margin-top:20px;
    }

    /* ----- Awards page----- */
    #awards iframe {
        height: 250px;
    }
}

/* --- Small Screen --- */
 @media screen and (max-width: 576px) {

    /* ----- Navigation bar ----- */
    .nav-bar {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar-brand {
        max-width: 60%;
        margin-left: 0px;
    }

    /* ----- Youtube video ----- */
    #youtube-video {
        margin-top:20px;
    }

    #awards iframe {
        height: 250px;
    }

    /* --- Menu --- */
    .menu-allergy {
        min-width: 50px;
    }
}

/* X-SMALL SCREEN */
 @media screen and (max-width: 481px) {

    /* ----- Navigation bar ----- */
    .nav-bar {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-brand {
        max-width: 60%;
        margin-left: 0px;
    }

    /* ----- Youtube video ----- */
    #youtube-video {
        margin-top: 20px;
    }

    #awards iframe {
        height: 250px;
    }

    /* --- Menu --- */
    .menu-allergy {
        min-width: 50px;
    }
}   