/* ----- Google Fonts import ----- */
/* ----- Lato, weights 300, 400, 500, 600, 700, 800 ----- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400,500,600,700,800&display=swap');


/* ----- Font ----- */
* {
    font-family: 'Lato', sans-serif;
}

/* ----- Color palette ----- */
/* from here:https://colorhunt.co/palette/220248 or https://colorhunt.co/palette/22272 
Colour 1: #e8e8e8 White/Grey   e3fdfd
Colour 2: #f05454 Red    cbf1f5
Colour 3: #30475e Blue/Grey  nicer blue 3f72af   
Colour 4: #222831 Black 
*/

/* ----- Four images and text----- */
.btn {
    background: #3f72af;
    color: #e8e8e8;
    border-radius: 4px;
}

.btn:hover{
    background: #f05454;
    color: #e8e8e8;
}


.single-image-and-text {
  box-shadow: 15px 15px #e8e8e8;
  width: 100%;
  border-radius: 4px;
}

.image-text {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222831;
    text-align: center;
    border-radius: 0 0 4px 4px;
}

.image-text h4,p {
    color: #f9f7f7;
}

/* --- Footer colors --- */
.info-copyright-text p,h5,h6, i {
    color: #e8e8e8;
}

.contact-form button{
    color: #e8e8e8;
}

.social-icon {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #e8e8e8;
    background: #3f72af;
}

.social-icon:hover{
    background: #f05454;
}

.ruler {
    background: #e8e8e8;
}


/* ----- Navigation bar ----- */

.nav-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

 .navbar-brand {
     max-width: 20%;
     margin-left: 50px;
}

 .navbar-brand img {
     width: 100%; 
}

 .navbar-nav li a {
     float: right;
     font-weight: 600;
}

 .navbar-nav li a:hover {
     text-decoration: underline;
}

/* ----- Hero image and text ----- */
.hero-image {
    height: 700px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/hero-image.jpg");
}

/* ----- Four images ----- */
.four-images-and-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.dinner-image {
    height: 200px;
    background-image: url("/assets/images/dinner.jpg");
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    background-size:cover;
}

.kitchen-image {
    height: 200px;
    border-radius: 4px 4px 0 0;
    background-image: url("/assets/images/kitchen.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.menu-image {
    height: 200px;
    border-radius: 4px 4px 0 0;
    background-image: url("/assets/images/menu.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.table-image {
    height: 200px;
    border-radius: 4px 4px 0 0;
    background-image: url("/assets/images/table_with_glasses.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.full-image {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

/* ----- Footer ----- */
.site-footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/footer.jpg");
}

.info-copyright-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-icons{
    text-align: right;
}

/* --- Google Map --- */
#map {
    height: 200px;
    width: 100%;
    border-radius: 4px;
  }

/* ----- Media Queries ----- */
/* --- Extra Large Screen --- */
 @media screen and (max-width: 1201px) {

 }   

/* --- Large Screen --- */
 @media screen and (max-width: 1024px) {
    .navbar-brand {
        max-width: 30%;
        margin-left: 0px;
    }
 }

/* --- Medium Screen --- */
@media screen and (max-width: 768px) {

    /* ----- Navigation bar ----- */
    .navbar-brand {
        max-width: 40%;
        margin-left: 0px;
    }
}

/* --- Small Screen --- */
 @media screen and (max-width: 576px) {

    /* ----- Navigation bar ----- */
    .nav-bar {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar-brand {
        max-width: 60%;
        margin-left: 0px;
    }
}

/* X-SMALL SCREEN */
 @media screen and (max-width: 481px) {

    /* ----- Navigation bar ----- */
    .nav-bar {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-brand {
        max-width: 60%;
        margin-left: 0px;
    }
}   